body {
    main {
        .badge {
            font-weight: normal;
            margin: 0 4px;
        }
        .btn-plus,
        .btn-minus,
        .btn-remove {
            background: unset;
            outline   : unset;
            box-shadow: unset;
            border    : none;
            font-size : 85%;
        }
    }
}