body {
    main {
        .badge {
            font-weight: normal;
            margin: 2px;
            display: flex;
            align-items: center;
            padding: 0.75em;
        }

        .btn-plus,
        .btn-minus,
        .btn-remove {
            background: unset;
            outline: unset;
            box-shadow: unset;
            border: none;
            font-size: 85%;
            padding: 0;
        }

        .btn-close {
            height: unset;
        }

        .btn-close:focus {
            box-shadow: none;
        }

        tr {
            vertical-align: middle;

            input#notes {
                font-size: 0.75em;
            }
        }

        .col.new-note {
            align-self: center;
        }
    }
}